calc
calc.exe
calc.exe.stackdump
parser.c
parser.h
scanner.c
*.o
*.output
scanner.h
ext.c
Makefile.am
aclocal.m4
config.guess
config.h.in
config.log
config.status
config.sub
configure
install-sh
ltmain.sh
missing
Makefile.in
config.h
depcomp
libtool
stamp-h1
autom4te.cache/*
charset/*
.deps/*
.libs/*
unix/*
Makefile
